<html ng-app="boops">
	<head>
		<title>boops...</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="manifest" href="/site.webmanifest">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	  <script type="text/javascript" src="/favico-0.3.10.min.js"></script>
	  <script type="text/javascript" src="/ui.js"></script>
	</head>
	<style>
body {
	background: #272822;
	color: white;
}
a {
	color: white;
}
img {
	height: 2em;
	border-radius: 100%;
}
a {
	font-size: 1.125em;
	font-weight: bold;
}
td {
	padding: 0.25em 0.5em;
}
	</style>
	<body ng-controller="ctrl">
		<div ng-if="issues.length === 0"><h1>no boops</h1></div>
		<table>
			<tr ng-repeat="(i, info) in issues | orderBy: 'updated_at' track by info.url">
				<td><img src="{{info.user.avatar_url}}" /></td>
				<td><a href="{{info.pull_request.html_url}}" target="_blank">{{info.title}}</a></td>
				<td>{{info.repository.full_name}}</td>
				<td>{{d(info.updated_at)}}</td>
			</tr>
		</table>
	</body>
</html>